---
import CommonWrapper from "../../layouts/CommonWrapper.astro";
import StandardLayout from "../../layouts/StandardLayout.astro";
import WorkExperience from "../../components/WorkExperience.astro";
import Education from "../../components/Education.astro";
import Paragraph from "../../components/Paragraph.astro";
import Link from "../../components/Link.astro";
import Heading1 from "../../components/Heading1.astro";
import Heading2 from "../../components/Heading2.astro";
import Heading3 from "../../components/Heading3.astro";
import Section from "../../components/Section.astro";
import Skill from "../../components/Skill.astro";
import Certification from "../../components/Certification.astro";
import ProjectCard from "../../components/ProjectCard.astro";
import BulletList from "../../components/BulletList.astro";

import profileImage from "../../images/profile.jpg";

import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import { languages } from "../../i18n/ui";

import { useTranslations } from "../../i18n/utils";

export async function getStaticPaths() {
  return Object.keys(languages).map((languageSlug) => {
    return {
      params: { lang: languageSlug, slug: languageSlug },
      props: { lang: languageSlug },
    };
  });
}

interface Props {
  lang: "en" | "de";
}

const { lang } = Astro.props;

const t = useTranslations(lang);

const idStartsWithExpectedLanguage = ({ id }) => {
  return id.startsWith(lang);
};

const allProjectsCollection = await getCollection(
  "projects",
  idStartsWithExpectedLanguage
);
const allProjects = allProjectsCollection
  .sort((a, b) => b.data.year - a.data.year)
  .filter((project) => project.id.startsWith(lang));
const allCertificationsCollection = await getCollection(
  "certifications",
  idStartsWithExpectedLanguage
);
const allCertifications = allCertificationsCollection.sort(
  (a, b) =>
    b.data.icon.charCodeAt(0) - a.data.icon.charCodeAt(0) ||
    ("" + a.data.name).localeCompare(b.data.name)
);

const allExperienceCollection = (
  await getCollection("experience", idStartsWithExpectedLanguage)
).map((x) => x.data);

const allExperience = allExperienceCollection.sort(
  (a, b) => new Date(b.from).getTime() - new Date(a.from).getTime()
);

const allEducation = (
  await getCollection("education", idStartsWithExpectedLanguage)
).map((x) => x.data);
const personalDetails = (
  await getCollection("personal", idStartsWithExpectedLanguage)
).map((x) => x.data)[0];
---

<CommonWrapper
  title={personalDetails.name}
  description={`${personalDetails.name}'s resume and portfolio page`}
  className
>
  <StandardLayout className="print:hidden">
    <Section className="flex justify-between items-center">
      <div class="grow">
        <Heading1 className="mt-0">{personalDetails.name}</Heading1>
        <Paragraph>
          {personalDetails.description}
        </Paragraph>
        <Paragraph
          >{t("introduction.location")}{personalDetails.location}</Paragraph
        >
        <ul class="flex gap-2 mt-4">
          {
            personalDetails.links.map((link) => (
              <li>
                <Link class="italic underline" href={link.href}>
                  {link.name}
                </Link>
              </li>
            ))
          }
        </ul>
      </div>
      <div class="ml-4 basis-48 shrink min-w-32">
        <Image
          src={profileImage}
          alt={`${personalDetails.name} profile`}
          class="object-cover rounded-lg"
          widths={[128, 192]}
          sizes="(max-width: 550px) 128px, 192px"
          loading="eager"
        />
      </div>
    </Section>
    <Section>
      <Heading2>{t("section.summary")}</Heading2>
      <Paragraph>
        {personalDetails.summary}
      </Paragraph>
    </Section>
    <Section class="flex flex-col">
      <Heading2>{t("section.experience")}</Heading2>
      {
        allExperience.map((experience) => (
          <WorkExperience
            title={experience.employer}
            role={experience.role}
            start={experience.from}
            end={experience.to}
          >
            <BulletList>
              {experience.bullets.map((bullet) => (
                <li>{bullet}</li>
              ))}
            </BulletList>
          </WorkExperience>
        ))
      }
    </Section>
    <Section>
      <Heading2>{t("section.education")}</Heading2>
      {
        allEducation.map((education) => (
          <Education
            title={education.institution}
            degree={education.degree}
            grade={education.grade}
          />
        ))
      }
    </Section>
    <Section>
      <Heading2>{t("section.skills")}</Heading2>
      <ul class="flex gap-4 flex-wrap">
        {personalDetails.technicalSkills.map((skill) => <Skill>{skill}</Skill>)}
      </ul>
      <ul class="mt-6 grid gap-x-2 sm:grid-cols-2 lg:grid-cols-3">
        {
          allCertifications.map(({ data }) => {
            return (
              <Certification
                name={data.name}
                link={data.link}
                icon={data.icon}
              />
            );
          })
        }
      </ul>
    </Section>
    <Section>
      {allProjects.length > 0 && <Heading2>{t("section.projects")}</Heading2>}
      <ul class="grid md:grid-cols-2 gap-4">
        {
          allProjects.map((project) => {
            return (
              <ProjectCard projectData={project.data} slug={project.slug} />
            );
          })
        }
      </ul>
    </Section>
  </StandardLayout>

  <div class="hidden print:flex h-full w-full">
    <aside class="bg-gray-950 w-80 h-full shrink-0">
      <div class="w-full">
        <Image
          src={profileImage}
          alt="Felix Prünte profile"
          class="object-cover"
          widths={[800]}
          sizes="(max-width: 800px) 800px"
          loading="eager"
        />
      </div>

      <div class="px-12 mt-20 text-white">
        <Section className="mt-12">
          <Heading2 className="mb-4 font-light tracking-widest">
            {t("section.contact").toUpperCase()}
          </Heading2>
          <ul class="flex flex-col gap-4">
            {
              personalDetails.links.map((link) => (
                <li>
                  <p class="font-bold">{link.name}:</p>
                  <Link className="no-underline not-italic" href={link.href}>
                    {link.printName}
                  </Link>
                </li>
              ))
            }
          </ul>
        </Section>

        <Section className="mt-12">
          <Heading2 className="mb-4 font-light tracking-widest">
            {t("section.skills").toUpperCase()}
          </Heading2>
          <ul class="flex flex-col gap-1">
            {
              [
                ...personalDetails.technicalSkills,
                ...personalDetails.organizationalSkills,
              ].map((skill) => (
                <li>
                  <p>{skill}</p>
                </li>
              ))
            }
          </ul>
        </Section>

        <Section className="mt-12">
          <Heading2 className="mb-4 font-light tracking-widest">
            {t("section.education").toUpperCase()}
          </Heading2>
          <ul>
            {
              allEducation.map((education) => (
                <li>
                  <p class="font-bold">{education.degree}</p>
                  <p class="mt-2">{education.institution}</p>
                  <p class="mt-1">
                    {education.from} - {education.to}
                  </p>
                </li>
              ))
            }
          </ul>
        </Section>
      </div>
    </aside>

    <div class="px-12 grow">
      <div class="h-80 flex flex-col justify-center">
        <Heading1 className="text-7xl tracking-widest line"
          ><span class="font-light"
            >{personalDetails.name.toUpperCase().split(" ").slice(0, -1)}</span
          ><br />
          <span class="font-extrabold"
            >{personalDetails.name.toUpperCase().split(" ").at(-1)}
          </span></Heading1
        >
        <p class="text-xl opacity-70">
          {personalDetails.jobName.toUpperCase()}
        </p>
      </div>
      <Section>
        <Heading2 className="font-light tracking-widest">
          {t("section.summary").toUpperCase()}
        </Heading2>
        <p>{personalDetails.summary}</p>
      </Section>

      <Section className="mt-8">
        <Heading2 className="font-light tracking-widest">
          {t("section.experience").toUpperCase()}
        </Heading2>
        <div class="flex flex-col gap-4">
          {
            allExperience.map((experience) => {
              const shortFromDate = new Date(
                experience.rawFrom
              ).toLocaleDateString(lang, {
                year: "numeric",
                month: "short",
              });
              const shortToDate = new Date(experience.rawTo).toLocaleDateString(
                lang,
                {
                  year: "numeric",
                  month: "short",
                }
              );

              return (
                <div>
                  <div class="flex items-center gap-4 justify-between">
                    <Heading3 className="font-semibold m-0">
                      {experience.role}
                    </Heading3>
                    <p class="shrink-0">
                      {shortFromDate} - {shortToDate}
                    </p>
                  </div>
                  <p>{experience.employer}</p>
                  <BulletList>
                    {experience.bullets.map((bullet) => (
                      <li>{bullet}</li>
                    ))}
                  </BulletList>
                </div>
              );
            })
          }
        </div>
      </Section>
    </div>
  </div>
</CommonWrapper>
