---
import { getLangFromUrl } from "../i18n/utils";
import "../styles/global.css";
import "@fontsource-variable/montserrat";
import { ClientRouter, fade } from "astro:transitions";

const { title, description } = Astro.props;
const currentUrl = Astro.url;
const language = getLangFromUrl(currentUrl);
---

<html
  lang={language}
  class="h-full"
  transition:animate={fade({ duration: "0.2s" })}
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover"
    />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="canonical" href={new URL(Astro.url, Astro.site)} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={currentUrl} />
    <title>{title}</title>
    <ClientRouter />
    <style>
      body {
        font-family: "Montserrat Variable", sans-serif;
      }

      @media print {
        @page {
          margin: 0;
        }
        body {
          print-color-adjust: exact;
        }
        html {
          font-size: 11.5px;
        }
      }
    </style>
  </head>
  <body class="overflow-x-hidden h-full">
    <main class="h-full flex flex-col">
      <slot />
    </main>
  </body>
</html>
